# Visual Studio cache
.vs/

# Build outputs
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.rsuser
*.sln.docstates

# Build artifacts
*.dll
*.exe
*.pdb

# Logs
*.log

# NuGet Packages
*.nupkg
packages/

# Publish output
publish/

# Rider IDE
.idea/
*.iml

# VS Code
.vscode/

# Temp files
*.tmp
*.temp

# C# / .NET
bin/
obj/
*.user
*.suo
